/* 기초작업 */
body{
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* 로고작업 
    웹페이지 오른쪽상단 위치
    모바일 중앙 위치
    크기 100x100
*/
#logo-container img{
    width: 100px;
    height: 100px;
    margin: 10px 0 0 10px;
}

.model-3d{
    text-align: center;
}

.chat-content {
    width: 490px; 
    height: 350px;
    overflow-y: scroll;
    margin: 0 auto;
    background-color: white;
    padding: 10px;
}

.line { 
    margin-top: 10px; 
    display: flex;
}

.chat-box {
    background-color: rgb(0, 128, 255);
    color: white;
    padding: 5px 10px; 
    max-width: 200px;
    border-radius: 20px;
}

.mine {
    margin-left: auto;
}

.chat-input-content{
    margin: 0 auto;
    width: 500px;
}

.chat-input{
    margin-top: 10px;
    width: 410px;
    border-radius: 5px;
    padding: 5px;
}

.btn{
    color: white;
    background-color: rgb(0, 128, 255);
    padding: 5px 20px;
    border-radius: 10px;
    border: none;
}

.turn-btn-container{
    text-align: center;
    margin-top: 30px;
}

@media screen and (max-width: 767px){
    #logo-container{
        text-align: center;
    }

    .chat-content {
        width: 350px; 
        height: 200px;
        overflow-y: scroll;
        margin: 0 auto;
    }

    .chat-input-content{
        margin: 0 auto;
        width: 350px;
    }
    
    .chat-input{
        width: 270px;
        border-radius: 5px;
        padding: 5px;
    }
    
    .btn{
        color: white;
        background-color: rgb(0, 128, 255);
        padding: 5px 15px;
        border-radius: 10px;
        border: none;
    }
    
    .turn-btn-container{
        text-align: center;
        margin-top: 20px;
    }

}